@if (error$ | async; as error) {
  <h3>Ups we found a error {{ error }}</h3>
}

@if (places$ | async; as places) {
  <div class="columns is-multiline is-flex is-flex-wrap-wrap">
    @for (place of places; track place) {
      <app-place-card [place]="place"/>
    }
  </div>


}

@if (placeSelected$ | async; as selectedPlace) {
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
      <app-place-form></app-place-form>
    </div>
    <button (click)="onClose()" class="modal-close is-large" aria-label="close"></button>
  </div>
}


